<!--
<h1>GoldPrices#index</h1>
<p>Find me in app/views/gold_prices/index.html.erb</p>
-->

<h1>Gold Price Tracker</h1>
<% if @gold_price %>
  <p>The current price of gold is: <%= @gold_price %> USD</p>
<% else %>
  <p><%= @error_message %></p>
<% end %>
